<form>
  <div class="mb-3">
    <label for="idAluno" class="form-label">ID</label>
    <input
      type="text"
      class="form-control"
      id="idAluno"
      name="idAluno"
      aria-describedby="idAluno"
      [(ngModel)]="aluno.id"
      disabled
      />
    </div>
    <div class="mb-3">
      <label for="nomeAluno" class="form-label">Nome do Aluno</label>
      <input
      id="nomeAluno"
      name="nomeAluno"
      [(ngModel)]="aluno.nome"
      type="text"
      class="form-control"
      (input)="onInput()"
      />
    </div>
    <div class="mb-3">
      <label for="emailAluno" class="form-label">E-Mail</label>
      <input
      type="email"
      class="form-control"
      id="emailAluno"
      name="emailAluno"
      [(ngModel)]="aluno.email"
      (input)="onInput()"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
